# Copy to terraform.tfvars and adjust for your environment/CI

location = "westeurope"
tags     = { project = "bfs", env = "production" }

alert_emails = {
  ops = "ops@example.com"
}

registry_server    = "ghcr.io"
registry_namespace = "example"
registry_username  = null
registry_token     = null

image_tag = "production"

