name: Release Please (android-app)

on:
  pull_request:
    branches: [production]
    types: [closed]

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    if: >-
      ${{ github.event.pull_request.merged == true &&
          (github.event.pull_request.user.login == 'release-please[bot]' ||
           startsWith(github.event.pull_request.title, 'chore') && contains(github.event.pull_request.title, 'release')) }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
        with:
          persist-credentials: false
          fetch-depth: 0
      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38
        with:
          config-file: release-please-config.json
          manifest-file: release-please-manifest.json
